@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap');

* {
    list-style-type:none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.text {
    font-family: 'Open Sans', sans-serif;
    padding: 1rem;
    text-align: center;
}

li {  
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.video {
    background-color: pink;
    border: 2px black solid;
    width: 560px;
    height: 340px;
}
.iframe {
    width: 556px;
    height: 282px;
    
}

.containerCentered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background: rgb(255,164,0);
    background: linear-gradient(90deg, rgba(255,164,0,1) 0%, rgba(255,220,0,1) 35%, rgba(255,164,0,1) 100%);
    margin-top: 5rem;  
}

footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2rem;
}


h2 {
    font-family: 'Work Sans', sans-serif;
    padding: 4px;
    text-align: center;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

.imagenProducto {
    width: 20rem;
    padding: 1rem;
}

.containerProducts {
    font-family: 'Open Sans', sans-serif;
    margin: 1rem;
    column-gap: 5rem;
}

.product {
    margin-block: 1rem;
}

form {
    width: 10rem;
}

.links {
    text-align: center;
    font-size: 2rem;
}

.contact {
    font-family: 'Open Sans', sans-serif;
}


@media (max-width:770px) {
    .containerProducts {
        display: grid;
        grid-template-areas: 
        "Header"
        "Main"
        "Footer";
        align-items: center;
        justify-content: center;
    }
    .iframe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 250px;
    }
    .video {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 250px;
    }
}

@media (min-width:771px) {
    .containerProducts {
        display: grid;
        grid-template-columns: repeat(2,auto);
        align-items: center;
        justify-content: center;
    }
}