@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital@1&display=swap");
/* Variables */
@media (max-width: 770px) {
  .containerProducts {
    display: grid;
    grid-template-areas: "Header" "Main" "Footer";
    align-items: center;
    justify-content: center; }
  .iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px; }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px; } }

@media (min-width: 771px) {
  .containerProducts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center; } }

.containerCentered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .containerCentered .text {
    font-family: "Work Sans", sans-serif, "Bold", "center";
    padding: 1rem;
    text-align: center; }
  .containerCentered .video {
    background-color: pink;
    border: 2px black solid;
    width: 560px;
    height: 340px;
    margin: 2rem; }
    .containerCentered .video .iframe {
      width: 556px;
      height: 282px; }

.containerProducts {
  font-family: "Work Sans", sans-serif, "Bold", "center";
  margin: 1rem;
  column-gap: 5rem; }
  .containerProducts .product {
    margin-block: 1rem; }
    .containerProducts .product .imagenProducto {
      width: 20rem;
      padding: 1rem; }

/* Variables */
/*SCSS*/
* {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0; }

body {
  background: #ffa400;
  background: linear-gradient(90deg, #ffa400 0%, #ffdc00 35%, #ffa400 100%);
  margin-top: 5rem; }
  body h1 {
    font-family: "Work Sans", sans-serif, "Bold", "center";
    text-align: center; }
  body h2 {
    font-family: "Work Sans", sans-serif, "Bold", "center";
    padding: 4px;
    text-align: center; }
  body h3 {
    font-family: "Work Sans", sans-serif, "Bold", "center";
    text-align: center; }
    body h3:hover {
      color: white; }
  body a {
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif, "Bold", "center"; }

footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  background-color: orange; }
  footer .links {
    text-align: center;
    font-size: 2rem; }

@media (max-width: 770px) {
  .containerProducts {
    display: grid;
    grid-template-areas: "Header" "Main" "Footer";
    align-items: center;
    justify-content: center; }
  .iframe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px; }
  .video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 250px; } }

@media (min-width: 771px) {
  .containerProducts {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-content: center; } }
